.nav-pills li a:hover {
    background-color: rgb(82, 82, 255);
}

/* Add the vertical line style */
.sidebar-vertical-line {
    border-left: 1px solid #fff;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
  
  /* Optional: Adjust the vertical line's width on larger screens */
  @media (min-width: 768px) {
    .sidebar-vertical-line {
      width: 5px;
    }
  }
  